<div class="row">
  <div class="large-6 large-centered columns">
  	<hr>
    <%= link_to 'Home', root_path %>
    <hr>
      <h3><%= @post.title %> <small><%= link_to 'Edit this post', edit_post_path(@post)%></small></h3>
      <%= simple_format(@post.content) %>
      
      <hr>
  </div>
</div>

<div class="row">
  <div class="large-6 large-centered columns">
    <%= render "comments/form" %>
  </div>
   <%= render "comments/comments" %>
</div>
